.filters {
  margin-bottom: 0.5rem;
  width: 100%;
}

.filters label {
  display: block;
  float: left;
  width: 15%;  
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-top: 7px;
  text-align: center;
  height: 34px;
}


.filters input {
  float: left;
  margin-right: 30px;
}
.filters input,
.filters select {
  display: block;
  font: inherit;
  background-color: #e7f8f8;
  color: black;
  border-radius: 4px;
  border: 1px solid black; 
  text-align: center;
  padding: 0.25rem;
  width: 25%;
}